<div>
    <div class="blue-background shape-rounded-corners-big">
        <div class="container">
            <form action="/textcontent/<%= textcontent.id %>/update" method="post">
                <div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="id" value="<%= textcontent.id %>">
                    <div>
                        <label>Title</label>
                    </div>
                    <textarea name="title" type="text" maxlength="80" id="" cols="30" rows="1"><%= textcontent.title %></textarea>
                    <div>
                        <label>Content</label>
                    </div>
                    <textarea name="content" type="text" maxlength="1024" id="" cols="30" rows="10"><%= textcontent.content %></textarea>
                </div>
                <button class="btn btn-info mt-4 mb-4" type="submit">
                    Aktualisieren
                </button>
            </form>
        </div>
    </div>
</div>
