<% if (typeof me === 'undefined') {
    // In case we're displaying the 404 or 500 page and relevant code in the "custom" hook was not able to run,
    // we make sure `me` exists.  This ensures we don't have to do `typeof` checks below.
    var me = undefined;
} %><!DOCTYPE html>
<html lang="en">
<head>
    <title>Quantum CMS</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <% /* Script tags should normally be included further down the page- but any
    scripts that load fonts (e.g. Fontawesome ≥v5) are special exceptions to the
    rule. (Include them up here along with any hard-coded «link» tags for Typekit,
    Google Fonts, etc. - above the «body» to prevent the page flickering when fonts
    load.) */ %>

    <% /* Certain scripts, normally analytics tools like Google Tag Manager and
    Google Analytics, should only be included in production: */
    if (sails.config.environment === 'production') { %>
        <!-- Google Analytics, Google Tag Manager, etc. -->
    <% }
    /* Otherwise, any such scripts are excluded, and we instead inject a
    robots/noindex meta tag to help prevent any unwanted visits from search engines. */
    else { %>
        <meta name="robots" content="noindex">
    <% } %>

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/fontawesome.css">
    <!-- TODO fails to load <link rel="stylesheet" href="/styles/importer.css"> -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- TODO LINK for bootstrap table -->
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <!-- select2 jQuery-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!--STYLES END-->
</head>
<body>
<header class="qntm-navbar-sticky position-sticky w-100">
    <nav role="navigation" class="qntm-navbar text-white position-relative w-100">
        <div class="qntm-navbar-container blue-background d-flex align-items-center align-content-center m-0">
            <a href="/">
                <%- partial('../../assets/images/quantum_logo.svg'); %>
            </a>
            <div class="qntm-navbar-link-container d-flex justify-content-between align-items-center w-100 m-0">
                <ul class="qntm-navbar-left-links d-flex justify-content-between align-items-center position-relative">
                    <li class="qntm-navbar-list-item">
                        <a href="/features" class="qntm-navbar-link font-special-text">Features</a>
                    </li>
                    <li class="qntm-navbar-list-item">
                        <a href="/pricing" class="qntm-navbar-link font-special-text">Pricing</a>
                    </li>
                    <li class="qntm-navbar-list-item">
                        <a href="/resources" class="qntm-navbar-link font-special-text">Resources</a>
                    </li>
                    <li class="qntm-navbar-list-item">
                        <a href="/about" class="qntm-navbar-link font-special-text">About Us</a>
                    </li>
                </ul>
                <div class="qntm-navbar-right-links d-flex align-items-center align-content-center justify-content-between">
                    <% if (me) { %>
                        <div>
                            <a href="/dashboard" class="qntm-navbar-link font-special-text">Access Dashboard</a>
                        </div>
                        <!-- logged in navbar -->
                        <div class="dropdown">
                            <button
                                    class="btn btn-secondary dropdown-toggle qntm-secondary-button qntm-primary-button font-special-text shape-rounded-corners-small"
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Account
                            </button>
                            <div class="dropdown-menu qntm-navbar-dropdown">
                                <div class="qntm-navbar-dropdown-head d-flex flex-column align-items-center mw-100 text-white">
                                    <h3 class="qntm-navbar-dropdown-head-h3 mw-100 m-0 font-weight-bold text-white">
                                        <%= me.fullName ;%>
                                    </h3>
                                    <p class="text-white">
                                        <%= me.emailAddress ;%>
                                    </p>
                                </div>
                                <a class="dropdown-item" href="/account/profile">Profile</a>
                                <a class="dropdown-item" href="/organisation">Organisation</a>
                                <a class="dropdown-item" href="#">Documentation</a>
                                <div class="qntm-navbar-dropdown-separator-line m-auto w-100"></div>
                                <a class="dropdown-item" href="/logout">Sign Out</a>
                            </div>
                        </div>

                    <% } else { %>
                        <!-- logged out navbar -->
                        <div>
                            <a href="/login" class="qntm-navbar-link font-special-text">Sign In</a>
                        </div>
                        <a class="qntm-secondary-button qntm-primary-button font-special-text shape-rounded-corners-small"
                           href="signup">Try
                            Free</a>
                    <% } %>
                </div>
                <div class="qntm-nav-burger d-none">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </div>
        <div class="qntm-menu-wrapper d-none position-absolute">
            <ul class="d-flex flex-column p-0">
                <li class="qntm-navbar-list-item">
                    <a href="" class="qntm-navbar-link font-special-text">Features</a>
                </li>
                <li class="qntm-navbar-list-item">
                    <a href="" class="qntm-navbar-link font-special-text">Pricing</a>
                </li>
                <li class="qntm-navbar-list-item">
                    <a href="" class="qntm-navbar-link font-special-text">Resources</a>
                </li>
                <li class="qntm-navbar-list-item">
                    <a href="" class="qntm-navbar-link font-special-text">Company</a>
                </li>
                <hr class="qntm-menu-separator">
                <% if (me) { %>
                    <!--logged in mobile -->
                    <li class="qntm-navbar-list-item">
                        <a href="/organisation" class="qntm-navbar-link font-special-text">Organisation</a>
                    </li>
                    <li class="qntm-navbar-list-item">
                        <a href="/account/profile" class="qntm-navbar-link font-special-text">Profile</a>
                    </li>
                    <li class="qntm-navbar-list-item">
                        <a href="#" class="qntm-navbar-link font-special-text">Documentation</a>
                    </li>
                    <hr class="qntm-menu-separator">

                    <div class="qntm-menu-button-section d-flex align-content-center align-items-center">
                        <a href="/logout" class="qntm-navbar-link font-special-text">Sign Out</a>
                    </div>
                <% } else { %>
                    <!--logged out mobile -->
                    <div class="qntm-menu-button-section d-flex align-content-center align-items-center">
                        <a class="qntm-secondary-button qntm-primary-button font-special-text shape-rounded-corners-small"
                           href="/signup">Try Free</a>
                        <div>
                            <a href="/login" class="qntm-navbar-link font-special-text">Sign In</a>
                        </div>
                    </div>
                <% } %>
            </ul>
        </div>
    </nav>
</header>

<!-- Alert if email has not been confirmed -->
<% if(me && me.emailChangeCandidate) { %>
    <div class="container-fluid">
        <div class="alert alert-secondary mt-2 small" role="alert">
            Your updated email address needs verification. Until you click the link sent to
            <strong><%= me.emailChangeCandidate; %></strong>, you'll still need to sign in as
            <strong><%= me.emailAddress; %></strong>.
        </div>
    </div>
<% } else if(me && me.emailStatus === 'unconfirmed') { %>
    <div class="container-fluid">
        <div class="alert alert-secondary mt-2 small" role="alert">
            Your email address still needs verification. Your account access may be limited until you click the link
            sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress; %></strong>.
        </div>
    </div>
<% } %>

<%- body; %>

<footer class="footer">
    <section class="qntm-section-footer">
        <div class="qntm-separator-line m-auto"></div>
        <div class="qntm-footer-link-container d-flex position-relative m-auto justify-content-center">

            <a href="/" class="qntm-link-footer font-special-text">Overview</a>
            <a href="/features" class="qntm-link-footer font-special-text">Features</a>
            <a href="/pricing" class="qntm-link-footer font-special-text">Pricing</a>
            <a href="/resources" class="qntm-link-footer font-special-text">Resources</a>
            <a href="/about" class="qntm-link-footer font-special-text">About Us</a>
            <a href="/terms" class="qntm-link-footer font-special-text">Terms of Use</a>
            <a href="/privacy" class="qntm-link-footer font-special-text">Privacy</a>

        </div>
        <div class="qntm-footer-copyright-container d-flex position-relative m-0 p-0">
            <p class="font-small-text">© Double A, Inc. 2021. We love our users!</p>
        </div>
    </section>
</footer>

<%- partial('partials/boilerplate-js.ejs'); %>

</body>
</html>
