<div class="flex-fill container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- Edit working group -->
        <div class="container">
            <div class="row">
                <h3>Update your working group</h3>
            </div>
            <form action="/groups/<%= grp.id %>/update" method="post">
                <div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="id" value="<%= grp.id %>">
                    <div class="mt-2">
                        <textarea class="form-control" placeholder="The name of your group." name="name" type="text" maxlength="80"
                            rows="1" required><%= grp.name %></textarea>
                    </div>
                    <div class="form-group mt-1 mb-1">
                        <textarea placeholder="The description of your group." name="description" type="text"
                            maxlength="512" class="form-control" rows="4" required><%= grp.description %></textarea>
                    </div>
                </div>
                <div>
                    <button class="qntm-primary-button font-special-text shape-rounded-corners-small" type="submit">
                        Update
                    </button>
                    <button class="qntm-primary-button font-special-text shape-rounded-corners-small" type="reset">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
