<div class="container mt-4 mb-4">
    <div class="border rounded mt-2 p-2">
        <!-- Your organisation -->
        <div class="container">
            <div class="row">
                <h3>Your organisation</h3>
            </div>
            <div class="d-flex justify-content-between">
                <% if(!!org){ %>
                    <div class="font-weight-bold">
                        Name:
                    </div>
                    <% org.forEach(function(org){ %>
                        <div class="">
                            <%= org.name %>
                        </div>
                        <% }); %>
                        <div class="d-flex">
                            <div class="mr-1">
                                <a class="qntm-primary-button font-special-text shape-rounded-corners-small"
                                    href="/organisation/<%= user.id %>/edit">Edit</a>
                            </div>
                            <div class="">
                                <a class="qntm-primary-button font-special-text shape-rounded-corners-small"
                                    href="/organisation/<%= user.id %>/delete">Resign</a>
                        </div>
                            </div>
                            <% } else { %>
                                <p>You have no organisation.</p>
                                <div class="">
                                    <a class="qntm-primary-button font-special-text shape-rounded-corners-small mt-1"
                                        href="/organisation/new">Add</a>
                                </div>
                                <% } %>
            </div>
        </div>
    </div>
    <!-- Members -->
    <div class="border rounded mt-2 p-2">
        <div class="container">
            <div class="row">
                <h3>Members</h3>
            </div>
            <% if(!!users){ %>
                <div class="">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Option-1</th>
                                <th scope="col">Option-2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(function(users){ %>
                                <tr class="">
                                    <td class="">
                                        <%= users.fullName %>
                                    </td>
                                    <% if(users.admin){ %>
                                        <td>Admin</td>
                                        <% } else { %>
                                            <td>Worker</td>
                                            <% }; %>
                                                <% if(user.admin){ %>
                                                    <% if(!users.admin && users.id !=user.id){ %>
                                                        <td class=""><a
                                                                class="qntm-primary-button font-special-text shape-rounded-corners-small"
                                                                href="/organisation/<%= users.id %>/updateAdmin">Appoint
                                                                as
                                                                admin</a></td>

                                                        <td class=""> <a
                                                                class="qntm-primary-button font-special-text shape-rounded-corners-small"
                                                                href="/organisation/<%= users.id %>/delete">Delete</a>
                                                        </td>
                                                        <% } %>
                                                            <% }; %>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>You have no organisation.</p>
                        <% } %>
                </div>
        </div>
    </div>
