<div class="d-flex flex-grow-1 flex-shrink-1">
    <%- partial('../../partials/textcontent/app-nav.ejs'); %>
    <!-- TODO QNTM-63 -->
    <div class="flex-fill grey-background d-flex flex-row" role="dialog">
        <form action="/textcontent/<%= textcontent.id; %>/update" method="post" class="flex-fill">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="pl-4 pt-3">
                    <h1>
                        <%= textcontent.title; %>
                    </h1>
                </div>
                <!-- TODO change when content is editted via Vue -->
                <div class="mr-4 px-3 py-2 editor-status-saved shape-rounded-corners-small">
                    saved
                </div>
            </div>
            <div class="d-flex flex-wrap pt-3">
                <div class="flex-fill px-3">
                    <div class="bg-white shape-drop-shadow-straight shape-rounded-corners-big p-3 flex-grow-1">
                        <div>
                            <input type="hidden" name="_csrf" value="<%= _csrf; %>"/>
                            <input type="hidden" name="id" value="<%= textcontent.id; %>">
                            <div class="font-weight-bold font-extra-small-text">
                                <label for="entry_title">Title:</label>
                            </div>
                            <textarea class="form-control flex-grow-1" name="title" type="text" minlength="1"
                                      maxlength="80" id="entry_title" cols="30" rows="1"
                                      required><%= textcontent.title; %></textarea>
                            <div class="invalid-feedback">Please enter a title.</div>
                            <div class="mt-4 font-weight-bold font-extra-small-text">
                                <label for="entry_content">Content:</label>
                            </div>
                            <textarea class="form-control flex-grow-1" name="content" type="text" minlength="2"
                                      maxlength="1024" id="entry_content" cols="30" rows="14"
                                      required><%= textcontent.content; %></textarea>
                            <div class="invalid-feedback">Please enter your content.</div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill px-3 app-info-column">
                    <div class="bg-white shape-drop-shadow-straight shape-rounded-corners-big p-3 justify-content-center mb-4">
                        <div class="d-flex flex-column">
                            <div>
                                <h4>Information</h4>
                            </div>
                            <div class="qntm-pricing-separator-line mb-2 pt-1"></div>
                            <div class="d-flex justify-content-between align-items-center align-content-center text-left app-info-text">
                                <span class="mr-2 font-extra-small-text font-weight-bold">Created:</span>
                                <span><%= textcontent.createdAt; %></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center align-content-center text-left app-info-text">
                                <span class="mr-2 font-extra-small-text font-weight-bold">Updated:</span>
                                <span><%= textcontent.updatedAt; %></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center align-content-center text-left app-info-text">
                                <span class="mr-2 font-extra-small-text font-weight-bold">Author:</span>
                                <span class="text-truncate"><%= textcontent.author.fullName; %></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center align-content-center text-left app-info-text">
                                <span class="mr-2 font-extra-small-text font-weight-bold">Editor:</span>

                                <span class="text-truncate">
                                    <% if (textcontent.updatedFrom != null) { %>
                                        <%= textcontent.updatedFrom.fullName; %>
                                    <% } else { %>
                                        –
                                    <% } %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white shape-rounded-corners-big d-flex flex-column shape-drop-shadow-straight p-3">
                        <!-- TODO QNTM-69 Text Versioning -->
                        <div class="dropdown mb-3">
                            <button class="qntm-primary-button grey-background w-100 shape-rounded-corners-small dropdown-toggle font-special-text font-extra-small-text grey-font" disabled type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Retrieve older versions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <div class="ml-1 font-extra-small-text font-weight-bold float-left">
                            <label for="entry_endpoint" class="mb-1">Endpoint:</label>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="mb-2 d-flex align-items-center grey-background border shape-rounded-corners-small">
                                <textarea name="title" type="text" id="entry_endpoint"
                                          cols="30" rows="1"
                                          class="text-truncate font-extra-small-text border-0 mr-2 grey-background"
                                          readonly><%= textcontent.endpoint; %></textarea>
                                <img src="/images/icon-copy.svg" alt="Copy to clipboard"
                                     id="app-copy-button-icon"
                                     class="d-inline-block flex-shrink-0 mr-1 qntm-icon-button">
                            </div>
                            <div class="d-flex align-items-center align-content-center mt-2">
                                <div class="d-flex align-items-center">
                                    <span class="font-extra-small-text font-weight-bold ml-2 mr-3">Delete?</span>
                                    <div class="material-switch pull-right">
                                        <input id="app-delete-confirmation" name="delete-switch" type="checkbox"
                                               @click.prevent="add"/>
                                        <label for="app-delete-confirmation" class="label-danger"></label>
                                    </div>
                                </div>
                                <div class="ml-3 mr-1">
                                    <a href="/textcontent/<%= textcontent.id; %>/destroy" id="app-delete-button"
                                       :class="{disabled: btnDisabled}"
                                       class="qntm-primary-button qntm-secondary-button shape-rounded-corners-small font-special-text border-0">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around align-content-center align-items-center my-4">
                        <div>
                            <button class="qntm-primary-button shape-rounded-corners-small font-special-text border-0"
                                    type="submit">
                                Save
                            </button>
                        </div>
                        <div>
                            <button class="qntm-primary-button qntm-secondary-button shape-rounded-corners-small font-special-text border-0"
                                    type="reset">
                                Revert
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
